@import "../variables";

footer{

    background-color: $footer;
    bottom: 0;
    font-size: 12px;
    color: $anuncio;

    & a:link, :visited, :hover, :active{
        text-decoration: none;
        
        & i{
            color: $anuncio;
            font-size: 18px;
        }
    }
    
}