@import "../variables";

.gamepass{

    margin-bottom: 7rem;

    & .card-gamepass{
        background-image: url(../img/gamepass/bg.jpg);
        background-repeat: no-repeat;
        background-size: 135%;
        background-position: center -70px;
        height: 210px;

        @media(max-width: $grid-max-md){
            background-size: cover;
            background-position: center;
        }

        @media(min-width: $grid-min-lg) and (max-width: $grid-max-lg){
            background-position: center -45px;
        }

        
        & i{
            font-size: 74px;
        }

        & p{font-size: 1rem;}
    }

    & .banner1{ //world war z
        height: 122%;
        background-image: url(../img/gamepass/banner1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

        @media(max-width:$grid-max-sm){            
            height: 235px;
        }


        & p{
            z-index: 1;
            font-size: 1rem;
        }
    }

    & .banner2{ //hellblade
        height: 60%;
        background-image: url(../img/gamepass/banner2.jpg);
        background-repeat: no-repeat;
        background-size: 135%;
        background-position: 60% -41px;

        @media(max-width:$grid-max-sm){            
            height: 300px;
            background-size: cover;
            background-position: 85%;
        }

        @media(min-width: $grid-min-md) and (max-width: $grid-max-md){
            background-size: 187%;
            background-position: 90% -20px;
        }

        & p{
            z-index: 1;
            font-size: 1rem;
        }
    }

    & .banner3{ //astroneer
        height: 60%;
        background-image: url(../img/gamepass/banner3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        

        @media(max-width:$grid-max-sm){            
            height: 300px;
            background-size: cover;
            background-position: center;
        }

        & p{
            z-index: 1;
            font-size: 1rem;
        }
    }

    & .banner4{ //rainbow six
        height: 100%;
        background-image: url(../img/gamepass/banner4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        

        @media(max-width:$grid-max-sm){            
            height: 200px;

        }

        & p{
            z-index: 1;
            font-size: 1rem;
        }
    }

    & .banner5{ //plague tale
        height: 100%;
        background-image: url(../img/gamepass/banner5.jpg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: left -10px;
        

        @media(max-width:$grid-max-sm){            
            height: 300px;
            background-size: cover;
            background-position: 52%;
        }

        @media(min-width: $grid-min-md) and (max-width: $grid-max-md){
            background-size: cover;
            background-position: center;
        }

        & p{
            z-index: 1;
            font-size: 1rem;
        }
    }

    & .card{
        
        & .sub-card{

            & p{
                padding: 15px 10px;
                margin: 0;
                font-size: 15px;

                & i{
                    font-size: 18px;
                }
            }
        }
    }

    & .pr-2px{
        padding: 0 0 0 2px;
    }

    & .pl-2px{
        padding: 0 2px 0 0;
    }

}