@import "../variables";

header{

    & .perfil {

        & img {
            width: 60px;
            height: 60px;
            border-radius: 50px;
            box-shadow: 0 0 15px rgb(42, 42, 42);
            cursor: help;
        }

        & .gamertag {
            position: absolute;
            margin: -53px 73px;

            & i{
                font-size: 15px;
        
                @media(max-width: $grid-max-xxs){
                    font-size: 12px;
                }
        
            }
        }

    }

    & #microphone, #batery, #horario{
        font-size: 18px;
    }
}