@import "../variables";

.recentes {
    margin-top: 120px;
    color: $black;
    margin-bottom: 7rem;

    @media(max-width: $grid-max-sm){
        margin-bottom: 5rem;
    }

    & p{font-size: 1rem;}

    & .card-principal { //maior box, ori
        height: 287px;
        background-image: url(../img/home/box1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 45% center ;

        & p {
            @media(min-width: $grid-min-md) and (max-width: $grid-max-md){
                font-size: 16px;
            }
        }

    }

    & .card-secundario {
        height: 150px;

        @media(max-width: $grid-max-sm) {
            margin: 10px 0;
            height: 100px;
        }

        & i{
            font-size: 64px;
            color: $white;

            @media(max-width: $grid-max-xxs){
                font-size: 38px;
            }

            @media(min-width: $grid-min-xs) and (max-width: $grid-max-xs){
                font-size: 45px;
            }

            @media(min-width: $grid-min-sm) and (max-width: $grid-max-md){
                font-size: 50px;
            }

        }

        & p{
            @media(min-width: $grid-min-sm) and (max-width: $grid-max-sm){
                font-size: 13px;
            }

            @media(min-width: $grid-min-md) and (max-width: $grid-max-md){
                font-size: 13px;
            }
        }

    }

    & .descricao{
        background-color: $fundo-descricao;
        margin: 0;
        padding: 5px 10px 5px 10px;
        opacity: 0;
        transition: opacity .5s;

        @media(max-width: $grid-max-sm){
            opacity: 1;
            font-size: 14px;

        }
    }

    & .card:hover .descricao{
        opacity: 1;

    }

    & .box3 { //cyberpunk
        background-image: url(../img/home/box3-md.jpg);
        background-repeat: no-repeat;
        background-size: 115%;
        background-position: center 73%;

        @media(max-width: $grid-max-sm){
            background-size: 120%;
            background-position: top;
        }

        @media(min-width: $grid-min-sm) and (max-width: $grid-max-sm){
            background-size: 120%;
            background-position: center -16px;
        }

        @media (min-width: $grid-min-md) and (max-width: $grid-max-md) {
            background-position: center -42px;
            background-size: 172%;
        }

        @media(min-width: $grid-min-lg) and (max-width: $grid-max-lg) {
            background-position: center -52px;
            background-size: 150%;
        }
    }

    & .box4 { //gamepass
        background-image: url(../img/home/box4.jpg);
        background-repeat: no-repeat;
        background-size: 133%;
        background-position: center;
        margin: 0;

        @media (min-width: $grid-min-xs) and (max-width: $grid-max-xs) {
            background-position: center;
            background-size: 100%;
        }

        @media (min-width: $grid-min-sm) and (max-width: $grid-max-sm) {
            background-position: center -77px;
            background-size: 100%;
        }

        @media (min-width: $grid-min-md) and (max-width: $grid-max-md) {
            background-position: center;
            background-size: 160%;
            background-repeat: repeat;
        }

    }

    & .box6 { //no man's sky
        background-image: url(../img/home/box6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;

        @media (min-width: $grid-min-xs) and (max-width: $grid-max-xs) {
            background-image: url(../img/home/box6-sm.jpg);
            background-position: center top;
            background-size: 190%;
        }

        @media (min-width: $grid-min-sm) and (max-width: $grid-max-sm) {
            background-image: url(../img/home/box6-sm.jpg);
            background-position: center top;
            background-size: 170%;
        }

        @media (min-width: $grid-min-md) and (max-width: $grid-max-md) {
            background-position: 52% center;
        }

        @media(min-width: $grid-min-lg){
            background-position: center;
        }
    }

    & .box7 { //resident evil 7
        background-image: url(../img/home/box7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center -45px;
        margin: 0;

        @media (max-width: $grid-max-xxs) {
            background-image: url(../img/home/box7-sm.jpg);
            background-position: center top;
            background-size: 100%;
        }

        @media (min-width: $grid-min-xs) and (max-width: $grid-max-xs) {
            background-position: center 78%;
            background-size: 100%;
        }

        @media (min-width: $grid-min-sm) and (max-width: $grid-max-sm) {
            background-image: url(../img/home/box7-sm.jpg);
            background-position: center;
        }

        @media (min-width: $grid-min-md) and (max-width: $grid-max-md) {
            background-position: center;

        }

        @media(min-width: $grid-min-lg) {
            background-position: center -10px;
        }
    }

    & .edge {
        background-color: $blue-edge;
        margin: 0;
    }

    & .biblioteca, .anuncio1, .anuncio2, .atividade-recente {
        height: 120px;

        & i{
            font-size: 64px;
            color: $white;
        }

    }

    & .atividade-recente { //fifa 21

        &.pr-2px{
            @media(max-width:$grid-max-sm) {
                padding-right: 15px !important;
            }
        }

        & .card{
            height: 120px;
            background-image: url(../img/home/anuncio1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
        }

        & img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            box-shadow: 0 0 15px rgb(42, 42, 42);

            @media(min-width: $grid-min-md) and (max-width: $grid-max-md){
                width: 30px;
                height: 30px;
            }
        }

        & p {
            z-index: 1;
        }
    }

    & .with-gold { //injustice 2

        &.pr-2px{
            @media(max-width:$grid-max-sm) {
                padding-right: 15px !important;
            }
        }

        & .card{
            height: 120px;
            background-image: url(../img/home/anuncio3.jpg);
            background-repeat: no-repeat;
            background-size: 170%;
            background-position: 85% -22px;

            @media(max-width: $grid-max-sm){
                background-size: 150%;
                background-position: center -40px;
            }            

            @media(min-width: $grid-min-md) and (max-width: $grid-max-md){
                background-size: 215%;
                background-position: center -12px;
            }
        }

        & img {
            width: 17%;
            float: right;

            @media(max-width: $grid-max-sm){
                width: 15%;
            }

            @media(min-width: $grid-min-md) and (max-width: $grid-max-md){
                width: 20%;
            }
        }

        & p {
            z-index: 1;
        }
    }

    & .anuncio { //black ops cold war

        &.pr-2px{
            @media(max-width:$grid-max-sm) {
                padding-right: 15px !important;
            }
        }
        
        & .card {
            height: 120px;
            background-image: url(../img/home/anuncio2.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center ;

            @media(min-width: $grid-min-xs) and (max-width: $grid-max-xs){
                background-size: cover;
                background-position: center -60px;
            }
            
            @media(min-width: $grid-min-sm) and (max-width: $grid-max-sm){
                background-size: cover;
                background-position: center 70%;
            }

            @media(min-width: $grid-min-md) and (max-width: $grid-max-md) {
                background-size: 131%;
            }


            & p{color: $white; z-index: 1;}
            
        }

        & p{color: $anuncio;}
    }

    & .pr-2px{
        padding: 0 0 0 2px;

        @media(max-width:$grid-max-sm) {
            padding-left: 15px !important;
        }
    }

    & .pl-2px{
        padding: 0 2px 0 0;

        @media(max-width:$grid-max-sm) {
            padding-right: 15px !important;
        }
    }

}
