@import "../variables";

.pins{

    & a:hover{text-decoration: none; color: $white;}
    & a:active, :link, :visited{color: $white;}

    & .card{
        font-size: 1.1em;
        // height: 90px;
        // width: ;

    }

    & .sub-card{

        height: 99px;

        & i{
            font-size: 50px;
        }
    }

    & .groups{

        height: 210px;

        & i{
            transform: rotate(45deg);
            // transform: rotateX(5deg);
        }
        
    }

    & i{
        font-size: 74px;
    }

    & .pin1{ //cuphead
        background-image: url(../img/pins/pin1.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: center;

        @media(max-width: $grid-max-sm){
            background-repeat: repeat;
        }
    }

    & .pin2{ //spotify
        background-image: url(../img/pins/pin2.jpg);
        background-repeat: no-repeat;
        background-size: 230%;
        background-position: center;
    }

    & .pin3{ //prime video
        background-image: url(../img/pins/pin3.jpg);
        background-size: 100%;
        background-position: center;
    }

    & .pin4{ //netflix
        background-image: url(../img/pins/pin4.jpg);
        background-size: 170%;
        background-position: center;
    }

    & .pin5{ //youtube
        background-image: url(../img/pins/pin5.jpg);
        background-size: 120%;
        background-position: center;
    }

    & .pin6{ //ea play
        background-image: url(../img/pins/pin6.png);
        background-size: 140%;
        background-position: center;
    }

    & .pin7{ //telecine play
        background-image: url(../img/pins/pin7.jpg);
        background-size: 120%;
        background-position: center;
    }

    & .pin8{ //facebook watch
        background-image: url(../img/pins/pin8.png);
        background-size: 120%;
        background-position: center;
    }

    & .edge{
        background-color: $blue-edge;
    }

    // & .pin9{ //watch dogs legion
    //     background-image: url(../img/pins/pin9.jpg);
    //     background-size: 120%;
    //     background-position: center;
    // }

    & .pin10{ //quantum break
        background-image: url(../img/pins/pin10.png);
        background-size: 170%;
        background-position: center -15px;

        @media(max-width: $grid-max-sm){
            background-size: 150%;

        }
    }

    & .pin11{ //state of decay 2
        background-image: url(../img/pins/pin11.jpg);
        background-size: 175%;
        background-position: center -1px;
    }

    & .pin12{ //twitch
        background-image: url(../img/pins/pin12.jpg);
        background-size: 120%;
        background-position: center;
    }


    & .pl-2px {
        padding-left: 2px !important;
        
    }

    & .pr-2px {
        padding-right: 2px !important;
    }

    & .col-3, .col-12 {
        @media(max-width:$grid-max-sm) {
            padding: 0 15px 0 15px;
        }
    }

}