<footer class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <p>Toda marca presente é uma propriedade pertencente à terceiros.*</p>

                <p>Todas as marcas presentes foram usadas somente em caráter expositivo.</p>

                <p>Todo conteúdo aqui terceirizado é licenciado através de creative commons e totalmente sem fins
                    lucrativos.</p>

                <p>*As marcas Xbox, Ori and the Will of the Wisps, Cyberpunk 2077, Xbox Game Pass, No Man's Sky, Resident Evil, FIFA, Injustice, Call of Duty, Cuphead, Spotify, Prime Video, Netflix, Youtube, EA Play, State of Decay, Twitch, EDGE, Quantum Break, Telecine Play, Facebook Watch, Fortnite, Watch Dogs, Alien Isolation, World War Z, Hellblade, Astroneer, Rainbow Six, A Plague Tale: Innocence e outras são propriedades intelectuais que pertencem à terceiros.</p>

                <p id="base">**baseado na OS Version 10.0.19041.3503 (Agosto, 2020)</p>



                <p class="d-flex pt-4">

                    06/2022

                    <span class="ml-auto">v1.2.0</span>

                    <span class="ml-auto">

                        <a href="http://github.com/saviodossantos" target="_blank" class="pr-2">

                            <i class="fab fa-github"></i>

                        </a>

                        <a href="http://linkedin.com/in/saviodossantos" target="_blank">

                            <i class="fab fa-linkedin"></i>

                        </a>
                    </span>
                </p>

            </div>
        </div>

    </div>
</footer>

</body>

<script src="src/js/main.js"></script>

</html>