<section class="container gamepass">

    <div class="row">

        <h2 class="title font-weight-bold col-12">Game Pass</h2>

        <div class="col-12 col-md-3">

            <a href="https://www.microsoft.com/pt-br/p/xbox-game-pass-ultimate/cfq7ttc0khs0" target="_blank">
                <div class="card card-gamepass">

                    <p class="mt-auto ml-2">Game Pass</p>

                </div>
            </a>

        </div>

        <div class="col-12 col-md-6 mt-2 mt-md-0">

            <a href="https://www.microsoft.com/pt-br/p/world-war-z/9n015dfdmvk6" target="_blank">

                <div class="card banner1">

                    <p class="mt-auto ml-2">
                        World War Z
                        <span class="d-block">Sobreviver a enormes hordas de zumbis</span>
                    </p>

                    <div class="fundo-escuro"></div>

                </div>

            </a>

        </div>

        <div class="col-md-3 mt-4 mt-md-0 pr-2px d-none d-md-block">

            <a href="https://www.microsoft.com/pt-br/p/hellblade-senuas-sacrifice/c4z7qm8fsxm2" target="_blank">
                <div class="card banner2">

                    <p class="mt-auto ml-2 d-block d-md-none d-lg-block">
                        Hellblade: Senua's Sacrifice
                    </p>

                    <p class="mt-auto ml-2 d-none d-md-block d-lg-none">
                        Hellblade:<br>Senua's Sacrifice
                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

            <a href="https://www.microsoft.com/pt-br/p/astroneer/9nblggh43kzb" target="_blank">

                <div class="card banner3 mt-1">

                    <p class="mt-auto ml-2">
                        Astroneer

                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

        </div>

        <div class="col-4 mt-2 pr-2px d-block d-md-none">

            <a href="https://www.microsoft.com/pt-br/p/hellblade-senuas-sacrifice/c4z7qm8fsxm2" target="_blank">
                <div class="card banner2">

                    <p class="mt-auto ml-2">
                        Hellblade: Senua's Sacrifice
                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

        </div>

        <div class="col-4 mt-2 pl-2px pr-2px d-block d-md-none">

            <a href="https://www.microsoft.com/pt-br/p/astroneer/9nblggh43kzb" target="_blank">

                <div class="card banner3">

                    <p class="mt-auto ml-2">
                        Astroneer

                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

        </div>



        <div class="col-4 pl-2px mt-1 d-md-none d-block">

            <a href="https://www.microsoft.com/pt-br/p/a-plague-tale-innocence/bq2nnlqps8rs" target="_blank"></a>

            <div class="card mt-1 banner5">

                <p class="mt-auto ml-2">
                    A Plague Tale: Innocence
                </p>

                <div class="fundo-escuro"></div>
            </div>
            </a>

        </div>



    </div>

    <div class="row mt-md-5 mt-1">

        <div class="col-md-3"></div>

        <div class="col-md-3 pr-2px d-md-block d-none">

            <div class="card mt-1">
                <div class="sub-card">

                    <p>
                        <i class="far fa-clock pr-1"></i>
                        Recém-adicionados
                    </p>

                </div>
            </div>

            <div class="card mt-1">
                <div class="sub-card">

                    <p>
                        <i class="fas fa-gamepad pr-1"></i>
                        Todos os jogos
                    </p>

                </div>
            </div>

        </div>

        <div class="col-4 col-md-3 pr-2px text-center text-md-left d-none d-md-block">

            <a href="https://www.microsoft.com/pt-br/p/a-plague-tale-innocence/bq2nnlqps8rs" target="_blank">

                <div class="card mt-1 banner5">

                    <p class="mt-auto ml-2">
                        A Plague Tale: Innocence
                    </p>

                    <div class="fundo-escuro"></div>
                </div>

            </a>

        </div>

        <div class="col-12 col-md-3 pr-2px d-none d-md-block">

            <a href="https://www.microsoft.com/pt-br/p/tom-clancys-rainbow-six-siege-deluxe-edition/9p30k2nxwh82" target="_blank">
                <div class="card mt-1 banner4">

                    <p class="mt-auto ml-2">
                        Rainbow Six: Siege
                    </p>

                    <div class="fundo-escuro"></div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-3d-block d-md-none">

            <a href="https://www.microsoft.com/pt-br/p/tom-clancys-rainbow-six-siege-deluxe-edition/9p30k2nxwh82">
                <div class="card mt-1 banner4">

                    <p class="mt-auto ml-2">
                        Rainbow Six: Siege
                    </p>

                    <div class="fundo-escuro"></div>
                </div>
            </a>
        </div>

        <div class="col-6 pr-2px d-block d-md-none">

            <div class="card mt-1">
                <div class="sub-card ">

                    <p>
                        <i class="far fa-clock"></i>
                        Recém-adicionados
                    </p>

                </div>
            </div>
        </div>

        <div class="col-6 pl-2px d-block d-md-none">

            <div class="card mt-1">
                <div class="sub-card ">

                    <p>
                        <i class="fas fa-gamepad"></i>
                        Todos os jogos
                    </p>

                </div>
            </div>
        </div>
    </div>

    </div>


</section>