<!doctype html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="dist/3rd/css-3rd/font-awesome/css/all.css">
    <link rel="icon" href="dist/img/header/icon.png">
    <link rel="stylesheet" href="dist/3rd/css-3rd/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/index.css">
    <link rel="stylesheet" href="src/font/RobotoCondensed/stylesheet.css">
    <title>Xbox Home</title>
</head>

<body onload="time()">