<div class="fundo-escuro-bg"></div>

    <header class="container mt-4">

        <div class="row">
            <div class="col-8 col-md-10 perfil">

                <img src="dist/img/header/perfil.jpg" alt="Imagem de perfil" onclick="menu()">

                <div class="gamertag">
                    <span class="justify-content-center font-weight-bold">svzzin</span><br>
                    <i class="fas fa-trophy text-bottom"></i>
                    <span class="justify-content-center text-bottom">44027</span>
                </div>

            </div>

            <div class="col-4 col-md-2 d-flex justify-content-end align-self-center">

                <i class="fas fa-microphone-slash mt-1" id="microphone"></i>
                <i class="fas fa-battery-full pl-3 mt-1" id="batery"></i>
                <span class="justify-content-end ml-3 font-weight-bold" id="horario"></span>

            </div>
        </div>

    </header>