<section class="container pins">

    <div class="row">

        <h2 class="title font-weight-bold col-12">Pins</h2>

        <div class="col-6 col-md-3 col-lg-3 pr-2px">

            <div class="card groups">

                <i class="text-center fas fa-thumbtack mt-auto"></i>
                <p class="mt-auto ml-2">Grupos</p>
            </div>

        </div>

        <div class="col-3 col-md-1 col-lg-1 pl-2px pr-2px">

            <a href="https://www.microsoft.com/pt-br/p/cuphead/9njrx71m5x9p" target="_blank">

                <div class="card pin1">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Cuphead</p>
                    </div>

                </div>

            </a>

            <a href="https://www.microsoft.com/pt-br/p/state-of-decay-2-juggernaut-edition/9nt4x7p8b9nb" target="_blank">

                <div class="card pin11 mt-2">
                    <div class="sub-card">
                        <p class="mt-auto descricao">State of Decay 2</p>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-3 col-md-1 col-lg-1 pl-2px pr-2px d-none d-md-block">
            <a href="https://www.spotify.com/br/" target="_blank">

                <div class="card pin2">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Spotify</p>
                    </div>

                </div>

            </a>

            <div class="card mt-2">
                <div class="sub-card">

                    <div class="text-center mt-3">
                        <i class="fas fa-grip-lines"></i>
                    </div>

                    <p class="mt-auto descricao">One Guide</p>

                </div>
            </div>

        </div>

        <div class="col-3 col-md-1 col-lg-1 pl-2px d-block d-md-none">
            <a href="https://www.spotify.com/br/" target="_blank">

                <div class="card pin2">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Spotify</p>
                    </div>

                </div>

            </a>

            <div class="card mt-2">
                <div class="sub-card">

                    <div class="text-center mt-3">
                        <i class="fas fa-grip-lines"></i>
                    </div>

                    <p class="mt-auto descricao">One Guide</p>

                </div>
            </div>

        </div>

        <div class="col-3 col-md-1 col-lg-1 mt-2 mt-md-0 pr-2px">
            <a href="https://www.primevideo.com/?_encoding=UTF8&language=pt_BR" target="_blank">

                <div class="card pin3">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Prime Video</p>
                    </div>

                </div>

            </a>

            <a href="https://www.twitch.tv/" target="_blank">

                <div class="card pin12 mt-2">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Twitch</p>
                    </div>

                </div>

            </a>

        </div>

        <div class="col-3 col-md-1 col-lg-1 mt-2 mt-md-0 pl-2px pr-2px">

            <a href="https://www.netflix.com/br/" target="_blank">

                <div class="card pin4">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Netflix</p>
                    </div>

                </div>

            </a>

            <a href="https://support.xbox.com/pt-BR/" target="_blank">
                <div class="card mt-2">
                    <div class="sub-card">

                        <div class="text-center mt-3">
                            <i class="fas fa-question"></i>
                        </div>

                        <p class="mt-auto descricao">Ajuda</p>

                    </div>
                </div>
            </a>


        </div>

        <div class="col-3 col-md-1 col-lg-1 mt-2 mt-md-0 pl-2px pr-2px">

            <a href="https://www.youtube.com/" target="_blank">

                <div class="card pin5">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Youtube</p>
                    </div>

                </div>
            </a>

            <a href="https://www.microsoft.com/pt-br/edge" target="_blank">

                <div class="card edge mt-2">
                    <div class="sub-card">

                        <div class="text-center mt-3">
                            <i class="fab fa-edge-legacy"></i>
                        </div>

                        <p class="mt-auto descricao">Microsoft Edge</p>

                    </div>
                </div>

            </a>

        </div>

        <div class="col-3 col-md-1 col-lg-1 mt-2 mt-md-0 pr-2px d-none d-md-block">

            <a href="https://www.ea.com/pt-br/ea-play" target="_blank">

                <div class="card pin6">
                    <div class="sub-card">
                        <p class="mt-auto descricao">EA Play</p>
                    </div>

                </div>

            </a>

            <a href="https://www.microsoft.com/pt-br/p/quantum-break/9nblggh6h0rv" target="_blank">

                <div class="card pin10 mt-2">

                    <div class="sub-card">
                        <p class="mt-auto descricao">Quantum Break</p>
                    </div>

                </div>

            </a>

        </div>

        <div class="col-3 col-md-1 col-lg-1 mt-2 mt-md-0 pl-2px d-block d-md-none">

            <a href="https://www.ea.com/pt-br/ea-play" target="_blank">

                <div class="card pin6">
                    <div class="sub-card">
                        <p class="mt-auto descricao">EA Play</p>
                    </div>

                </div>

            </a>

            <a href="https://www.microsoft.com/pt-br/p/quantum-break/9nblggh6h0rv" target="_blank">

                <div class="card pin10 mt-2">

                    <div class="sub-card">
                        <p class="mt-auto descricao">Quantum Break</p>
                    </div>

                </div>

            </a>

        </div>

        <div class="col-md-1 col-lg-1 mt-2 pr-2px d-none d-md-block"></div>
        <div class="col-md-1 col-lg-1 mt-2 pr-2px d-none d-md-block"></div>

        <div class="col-3 col-md-1 col-lg-1 mt-2 pr-2px">

            <a href="https://www.telecineplay.com.br/" target="_blank">

                <div class="card pin7">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Telecine Play</p>
                    </div>

                </div>

            </a>

        </div>

        <div class="col-3 col-md-1 col-lg-1 mt-2 pl-2px pr-2px">

            <a href="https://www.facebook.com/watch/" target="_blank">

                <div class="card pin8">
                    <div class="sub-card">
                        <p class="mt-auto descricao">Facebook Watch</p>
                    </div>

                </div>

            </a>

        </div>

        <div class="col-3 col-md-1 col-lg-1 mt-2  pl-2px pr-2px">

            <div class="card">
                <div class="sub-card">

                    <div class="text-center mt-3">
                        <i class="fas fa-photo-video"></i>
                    </div>

                    <p class="mt-auto descricao">Media Player</p>

                </div>

            </div>

        </div>

        <!-- <div class="col-3 col-md-1 col-lg-1 mt-2 mt-lg-0 pl-2px pr-2px d-none d-md-block d-lg-none">

            <a href="https://www.microsoft.com/pt-br/edge" target="_blank">

                <div class="card edge">
                    <div class="sub-card">

                        <div class="text-center mt-3">
                            <i class="fab fa-edge-legacy"></i>
                        </div>

                        <p class="mt-auto descricao">Microsoft Edge</p>

                    </div>
                </div>

            </a>

        </div>


        <div class="col-3 col-md-1 col-lg-1 mt-2 mt-lg-0 pr-2px d-none d-md-block d-lg-none">

            <a href="https://www.microsoft.com/pt-br/p/quantum-break/9nblggh6h0rv" target="_blank">

                <div class="card pin10">

                    <div class="sub-card">
                        <p class="mt-auto descricao">Quantum Break</p>
                    </div>

                </div>

            </a>


        </div> -->


    </div>



</section>