<section class="container recentes">

    <div class="row">
        <div class="col-12 col-md-3 pr-md-3">

            <a href="https://www.microsoft.com/pt-br/p/ori-and-the-will-of-the-wisps/9n8cd0xzklp4" target="_blank">
                <div class="card card-principal">

                    <p class="mt-auto descricao">Ori and the Will of the Wisps</p>

                </div>
            </a>
        </div>

        <div class="col-6 col-md-1 pr-2px align-self-md-end ">
            <a href="https://www.xbox.com/pt-BR/" target="_blank">
                <div class="card card-secundario">

                    <div class="text-center mt-md-4 mt-sm-2">
                        <i class="fas fa-shopping-bag mt-3"></i>
                    </div>

                    <p class="mt-auto descricao">Microsoft Store</p>

                </div>
            </a>
        </div>

        <div class="col-6 col-md-1 pl-2px align-self-md-end">
            <div class="card card-secundario box3">

                <p class="mt-auto descricao">Cyberpunk 2077</p>

            </div>
        </div>

        <div class="col-6 col-md-1 pr-2px align-self-md-end ">
            <a href="https://www.xbox.com/pt-BR/xbox-game-pass" target="_blank">
                <div class="card card-secundario box4">

                    <p class="mt-auto descricao">Xbox Game Pass</p>

                </div>
            </a>
        </div>

        <div class="col-6 col-md-1 pl-2px align-self-md-end ">
            <a href="https://www.microsoft.com/pt-br/edge" target="_blank">
                <div class="card card-secundario edge">

                    <div class="text-center mt-md-4 mt-sm-2">
                        <i class="fab fa-edge mt-3"></i>
                    </div>

                    <p class="mt-auto descricao">Edge</p>

                </div>
            </a>
        </div>

        <div class="col-6 col-md-1 pr-2px align-self-md-end mt-md-0 mt-2">
            <a href="https://www.microsoft.com/pt-br/p/no-mans-sky/bqvqtl3pch05" target="_blank">
                <div class="card card-secundario box6">


                    <p class="mt-auto descricao">No Man's Sky</p>

                </div>
            </a>
        </div>

        <div class="col-6 col-md-1 pl-2px align-self-md-end mt-md-0 mt-2">
            <a href="https://www.microsoft.com/pt-br/p/resident-evil-7-biohazard/9nblggh4spk6" target="_blank">
                <div class="card card-secundario box7">

                    <p class="mt-auto descricao">RESIDENT EVIL 7 biohazard</p>

                </div>
            </a>
        </div>

    </div>

    <div class="row mt-md-4 mt-3">

        <div class="col-12 col-md-3 pr-md-3 mb-2">
            <div class="card biblioteca">

                <div class="text-center mt-3">
                    <i class="fa fa-gamepad"></i> <!-- chess -->
                </div>

                <p class="mt-auto ml-2">Meus jogos e apps</p>

            </div>
        </div>

        <div class="col-12 col-md-3 mb-2 atividade-recente pr-2px">
            <div class="card ">

                <div class="mt-2 mr-3 ml-auto">
                    <img src="dist/img/home/perfil-amigo1.jpg" alt="Imagem de perfil amigo">
                    <img src="dist/img/home/perfil-amigo2.jpg" alt="Imagem de perfil amigo">
                </div>

                <p class="mt-auto ml-3 ml-md-2">
                    2 amigos jogando
                    <span class="d-block">EA SPORTS™ FIFA 21</span>
                </p>
                <div class="fundo-escuro"></div>

            </div>

        </div>

        <div class="col-12 col-md-3 mb-2 with-gold pr-2px">
            <div class="card ">

                <div class="mt-1 ml-auto mr-3">
                    <img src="dist/img/home/live-gold.png" alt="Imagem de perfil amigo">
                </div>

                <p class="mt-auto ml-3 ml-md-2">
                    Dias para jogar de graça
                </p>
                <div class="fundo-escuro"></div>

            </div>

        </div>

        <div class="col-12 col-md-3 anuncio pr-2px">

            <a href="https://www.xbox.com/pt-BR/games/call-of-duty-black-ops-cold-war" target="_blank" rel="noopener noreferrer">
                <div class="card">

                    <p class="mt-auto ml-3 ml-md-2">
                        <span class="d-block">Já disponível</span>
                        COD: Black Ops Cold War

                    </p>
                    <div class="fundo-escuro"></div>

                </div>
            </a>

            <div class="float-right">
                <p>
                    <small>Anúncio</small>
                </p>
            </div>
        </div>

    </div>

</section>