<section class="container store">

    <div class="row">

        <h2 class="title font-weight-bold col-12">Store</h2>

        <div class="col-12 col-md-3">
            <a href="https://www.xbox.com/pt-BR/" target="_blank">
                <div class="card card-store">

                    <i class="text-center fas fa-shopping-bag mt-auto"></i>
                    <p class="mt-auto ml-2">Store</p>

                </div>
            </a>
        </div>

        <div class="col-12 col-md-6 mt-2 mt-md-0">

            <a href="https://www.microsoft.com/pt-br/p/fortnite/bt5p2x999vh2" target="_blank">

                <div class="card tendencia1">

                    <p class="mt-auto ml-2">
                        Fortnite
                        <span class="d-block">Jogue hoje</span>
                    </p>

                    <div class="fundo-escuro"></div>

                </div>

            </a>

        </div>

        <div class="col-12 col-md-3 mt-4 mt-md-0 pr-2px d-none d-md-block">

            <a href="https://www.microsoft.com/pt-br/p/watch-dogs-legion/c1wrx8zd77m9" target="_blank">
                <div class="card tendencia2">

                    <p class="mt-auto ml-2">
                        Watch Dogs: Legion
                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

            <a href="https://www.microsoft.com/pt-br/p/alien-isolation/c1h9v6slk2k5" target="_blank">

                <div class="card tendencia3 mt-1">

                    <p class="mt-auto ml-2">
                        Alien Isolation

                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

        </div>

        <div class="col-6 mt-2 pr-2px d-block d-md-none">

            <a href="https://www.microsoft.com/pt-br/p/watch-dogs-legion/c1wrx8zd77m9" target="_blank">
                <div class="card tendencia2">

                    <p class="mt-auto ml-2">
                        Watch Dogs: Legion
                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

        </div>

        <div class="col-6 mt-2 pl-2px d-block d-md-none">

            <a href="https://www.microsoft.com/pt-br/p/alien-isolation/c1h9v6slk2k5" target="_blank">

                <div class="card tendencia3">

                    <p class="mt-auto ml-2">
                        Alien Isolation

                    </p>

                    <div class="fundo-escuro"></div>

                </div>
            </a>

        </div>

    </div>

    <div class="row mt-md-5 mt-1">

        <div class="col-md-3"></div>

        <div class="col-6 col-md-3 pr-2px text-md-left">

            <div class="card mt-1">
                <div class="sub-card">

                    <p>
                        <i class="fas fa-newspaper"></i>
                        Novos jogos
                    </p>

                </div>
            </div>

            <div class="card mt-1">
                <div class="sub-card">

                    <p>
                        <i class="fas fa-calendar-alt"></i>
                        Em breve
                    </p>

                </div>
            </div>

            <div class="card mt-1 d-md-none d-block">
                <div class="sub-card">

                    <p>
                        <i class="far fa-gem"></i>
                        Especiais Xbox
                    </p>

                </div>
            </div>

        </div>

        <div class="col-6 col-md-3 pl-2px">

            <div class="card mt-1">
                <div class="sub-card">
                    <p>
                        <i class="fas fa-chart-line"></i>
                        Populares pagos
                    </p>
                </div>
            </div>

            <div class="card mt-1">
                <div class="sub-card">

                    <p>
                        <i class="fas fa-chart-line"></i>
                        Populares gratuitos
                    </p>

                </div>
            </div>

            <div class="card mt-1 d-md-none d-block">
                <div class="sub-card">

                    <p>
                        <i class="fas fa-search"></i>
                        Buscar
                    </p>

                </div>
            </div>

        </div>

        <div class="col-6 col-md-3 pr-2px d-none d-md-block">

            <div class="card mt-1">
                <div class="sub-card">

                    <p>
                        <i class="far fa-gem"></i>
                        Especiais Xbox
                    </p>

                </div>
            </div>

            <div class="card mt-1">
                <div class="sub-card">

                    <p>
                        <i class="fas fa-search"></i>
                        Buscar
                    </p>

                </div>
            </div>

        </div>

    </div>


</section>