
// Variáveis concentradas em um só arquivo

//grid
$grid-max-xxs: 359.98px;
$grid-min-xs: 360px;
$grid-max-xs: 575.98px;
$grid-min-sm: 576px;
$grid-max-sm: 767.98px;
$grid-min-md: 768px;
$grid-max-md: 991.98px;
$grid-min-lg: 992px;
$grid-max-lg: 1199.98px;
$grid-min-xl: 1200px;

//border-radius
$border-radius-1: 5px;

//colors
$white: #FFFFFF;
$black: #000000;
$grey: #2f2f2f;
$grey-2: #252525;
$bg-edge: #1E90FF;


//font
@font-face{
    font-family: Montserrat;
    src: url(../../../src/font/Montserrat/Montserrat-Regular.ttf);
}

